<h2 class="headline">ようこそBookersへ！</h2>
<p class="text-headline">
	<span class="title">Bookers</span>では、さまざまな書籍に関するあなたの意見や<br>
	印象を共有して交換することができます。</p>
<h3 class="tag-headline">
	<a href="http://localhost:3000/books/new">start</a>
</h3>