<h2 class="headline">ようこそBookersへ！</h2>
<p class="text-headline">
	<span class="title">Bookers</span>では、さまざまな書籍に関するあなたの意見や<br>
	印象を共有して交換することができます。</p>
<h3 class="tag-headline">
	<%= link_to "start", books_path %>
</h3>